html, body {
	height: 100vh;
}

.fixed-sn main {
	padding-top: 1rem;
	padding-bottom: 3rem;
}

.navbar-brand img {
	height: 3rem;
}

.side-nav a {
	font-size: 1.1rem;
	font-weight: 500;
}

.side-nav.wide .logo-wrapper.sn-ad-avatar-wrapper a {
	height: auto;
	padding: 19px 10px;
	display: flex;
}

.side-nav.wide .logo-wrapper.sn-ad-avatar-wrapper a span {
	padding: 0;
}

.side-nav.wide .logo-wrapper.sn-ad-avatar-wrapper .img-wrapper {
	display: flex;
	align-items: center;
}

.side-nav.wide .logo-wrapper.sn-ad-avatar-wrapper .name-wrapper {
	padding-left: 15px;
}



/*  NAVBAR SKINS  */

.white-skin .side-nav .sidenav-bg:after, .white-skin .side-nav .sidenav-bg.mask-strong:after {
	background-color: rgba(37,51,76,0.9)/*rgba(188,237,246,0.8)*/;
}

.side-nav.wide .logo-wrapper.sn-ad-avatar-wrapper {
	height: auto;
	border-bottom: none;
	background-color: rgba(20,32,53,0.4)/*rgba(26,101,158,0.2)*/;
}

.white-skin .side-nav.wide .logo-wrapper.sn-ad-avatar-wrapper a span {
	color: #bcedf6/*25334C*/;
}

.white-skin .current-menu-item{
	color: #bcedf6/*25334C*/ !important;
}
.side-nav .collapsible a.current-menu-item:hover {
	cursor: initial;
}

.white-skin .side-nav .collapsible li .collapsible-header {
	color: #8ca5aa/*919191*/;
}
.white-skin .side-nav .collapsible li .collapsible-header.active {
	color: #bcedf6/*25334C*/;
}

.white-skin .side-nav .collapsible li .collapsible-body a, a#toggle{
	color: #8ca5aa/*919191*/;
}
.white-skin .side-nav .collapsible li .collapsible-body a:hover {
	color: #bcedf6/*25334C*/;
}

.white-skin .side-nav .current-menu-item .fas, .white-skin .side-nav .fas, a#toggle .fas {
	color: inherit;
}

.side-nav {
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.white-skin .navbar {
	background-color: transparent;
}

.white-skin .navbar .navbar-nav .nav-item a {
	color: rgba(0,0,0,.5);
	font-weight: 400;
}
/* ============== */

.side-nav .collapsible a {
	font-size: 0.9rem;
	height: 36px;
    line-height: 36px;
}

.side-nav .collapsible .fas {
	top: 0.6rem;
	font-size: 1.1rem;
}

.side-nav.wide .collapsible .sv-slim-icon {
	margin-right: 10px;
	transition: margin-right .3s;
}



.mdb-main-label{
	font-weight: 300;
	z-index: 0 !important;
}

.md-form label.active {
	transform: translateY(-20px) scale(0.9);
}

.md-form > input[type=date]:not(.browser-default) + label {
	transform: translateY(-20px) scale(0.9);
}

.select-wrapper + label.active {
	transform: translate(-3px, -30px) scale(0.9);
}

.file-field.medium .file-path-wrapper {
	height: 3rem;
}
.file-field.medium .file-path-wrapper .file-path {
	height: 2.8rem;
}

.file-field.big-2 .file-path-wrapper {
	height: 3.7rem;
}
.file-field.big-2 .file-path-wrapper .file-path {
	height: 3.5rem;
}

/*navbar style*/
.navbar {
	box-shadow: none;
}

.side-nav {
	box-shadow: 0 0 1rem rgba(0,0,0,.075)!important;
}

main .card {
	border-radius: .3rem;
	background-color: #f8f9fa;
}

.jumbotron {
	border-radius: .3rem;
	background-color: #e9ecef;
}

.card.card-cascade .view.view-cascade {
	box-shadow: 0 5px 11px 0 rgba(0,0,0,.13), 0 4px 15px 0 rgba(0,0,0,.10);
}

.display-5 {
	font-weight: 300;
	font-size: 2.5rem;
	line-height: 1.2;
}

.table {
	box-shadow: 0 5px 11px 0 rgba(0,0,0,.08), 0 4px 15px 0 rgba(0,0,0,.05);
}

.table th, .table td {
	font-size: 1.1rem;
}

.md-form input[type=search].white-border {
	border-bottom: 1px solid #fff!important;
	box-shadow: 0 1px 0 0 #fff!important;
}

/*						*/
/*	Background Images	*/
/*						*/

.sn-bg-1 {
	background-image: url(../img/sn1.jpg);
}

.sn-bg-2 {
	background-image: url(../img/sn2.jpg);
}

.bg-img {
	background-image: url('../img/bg1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}


/*						*/
/*  Login/Signup Cards	*/
/*						*/

.login-card {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-card.row {
	min-height: 100vh; width: 100vw;
}

.login-card .card {
	background-color: rgba(255, 255, 255, 0.85);
}

.login-card .md-form .prefix {
	font-size: 1.2rem;
	margin-top: 0.5rem;
	margin-left: 0.3rem;
}


/*						*/
/* 		Gradients		*/
/*						*/

.transparent-rose-gradient {
	background: -webkit-linear-gradient(98deg, rgba(22, 91, 231, 0.5), rgba(255, 32, 32, 0.5) 100%);
	background: linear-gradient(to 98deg, rgba(22, 91, 231, 0.5), rgba(255, 32, 32, 0.5) 100%);
}

.transparent-blue-gradient {
	background: -webkit-linear-gradient(top, rgba(22, 91, 231, 0.5) 0%, rgba(69,203,252,0.5) 100%);
	background: linear-gradient(to bottom, rgba(22, 91, 231, 0.5) 0%, rgba(69,203,252,0.5) 100%);
}

.sky-gradient {
	background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
}

.light-peach-gradient {
	background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}

.seaweed-gradient {
	background-image: linear-gradient(to left, rgb(182, 244, 146), rgb(51, 139, 147));
}


.waves-width-fix .waves-input-wrapper{
	width: 100%;
}